@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* #writeBox {
    background-color: #ffe2a9;
  } */

#findpageBox {
  margin-top: 70px;
}

.contentWrap {
  background-color: #ffe2a9;
  width: 390px;
  height: 844px;
  margin: 0 auto;
  /* text-align: center; */
  padding: 20px;

  font-family: "NEXON Lv1 Gothic OTF";
}

#FindpageLogo {
  text-align: center;
  margin-top: 95px;
}

#findBox input {
  /* 아이디찾기, 비밀번호찾기 인풋 */
  width: 344px;
  height: 47px;
  border-radius: 50px;

  border: none;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  padding-top: 14px;
}

#findBox p {
  margin-left: 25px;
  font-weight: 900;
}

#findBox input::placeholder {
  opacity: 0.5;
}

#findpageBorder {
  /*중간선*/
  border-top: solid 1.5px #ebc479;
  width: 340px;
  height: 30px;
  margin-top: 40px;
}

.write-btn {
  text-align: center;
}

.button-check {
  margin-top: 55px;
  width: 344px;
  height: 47px;

  font-size: auto;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: #ffd686;
  color: #ffb526;

  cursor: pointer;
  /* box-shadow: 5px 3px 3px rgb(82, 82, 82); */
}
/* .button-write:hover {
    background-color: #4d2e27e8;
  } */
.button-write:focus,
.button:focus {
  outline: none;
}
