@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

.all_i_want{
    margin: 0 auto;
   
}


body{
    background-color:  #050524;
    margin:0;
    font-family: "NEXON Lv1 Gothic OTF";
}

.up_logo{
    width: 125.65px;
    margin-top: 25px;
    margin-left: 135px;
    
}
.upper{
    width: 390px;
}

.profile_logo{
   margin-left: 80px;
    
 
}

.upper_star{
    display:flex;
}
.one_star{
    width:19px;
    height: 18px;
    margin-left:15px;
   
}
.two_star{
    margin-top: 130px;
    width:33px;
    height: 32px;
}
.three_star{
    width:17px;
    height: 16px;
    margin-left:80px;
    margin-top: 30px;
}
.four_star{
    width:26px;
    height: 25px;
    margin-left: 70px;
    margin-top:100px;
}
.five_star{
    width:23px;
    height: 22px;
    margin-top: 15px;
    margin-left: 40px;
}
.six_star{
    width:23px;
    height: 22px;
    margin-left:20px;
    margin-top: 150px;
}

#mid{
    text-align: center;
    margin-top:-40px;
    color:white;
    padding: 30px;
    
}

.lower_star{
    display: flex;
    margin-top:69px;
}

.low_one_star{
    width:22px;
    height: 21px;
    margin-left: 20px;
}

.low_two_star{
    width:33px;
    height:32px;
    margin-left: 30px;
    margin-top: 150px;
}

.low_three_star{
    width:32px;
    height:31px;
    margin-left: 160px;
    margin-top: 30px;
}

.low_four_star{
    width:19px;
    height: 18px;
    margin-left: 40px;
    margin-top: 160px;
}

.lower{
    display: flex;
    margin-top:-38px;
    
}
.lo{
    margin-top:103px;
}
.low_img{
    display: flex;
    margin-bottom:-39px;
}

.celender{
    margin-left: 120px;
    z-index: 3;
    margin-top:-280px;
    
}
.foot{
    display: flex;
}
.snow{
    
    position:relative;
    width: 390px;
    z-index:0;
}


.snow{
    width:390px;
   
}
footer{
    width:390px;
    display: flex;
}
.foot_logo{
    width:390px;
    margin-top:-2px;
}

.mid_t{
   width:390px;
  
}

.object1{
    width:37px;
    height:90px;
    margin-left:30px;
    z-index:3;
   margin-top:-30px;
}
.object2{
    width:46px;
    height:50px;
    margin-left:15px;
    z-index:3;
}
.object3{
    width:40px;
    height:50px;
    margin-left:15px;
    z-index:3;
    margin-top:10px;
}
.object4{
    width:54px;
    height:65px;
    z-index:3;
    margin-left:12px;
    margin-top:-12px;
}
.object5{
    width:27px;
    height:67px;
    margin-left: 30px;
    z-index:3;
    margin-top:-10px;
}
.object6{
    width:32px;
    height:78px;
    margin-left: 20px;
    z-index:3;
   
   
}