@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* #writeBox {
  background-color: #ffe2a9;
} */

.contentWrap {
  background-color: #ffe2a9;
  width: 390px;
  height: 922px;
  margin: 0 auto;
  /* text-align: center; */
  padding: 20px;

  font-family: "NEXON Lv1 Gothic OTF";
  letter-spacing: 5%;
  line-height: 25px;
}

.writeProfile {
  text-align: right;
  margin-bottom: 10px;

  cursor: pointer;
}

.writeLogo {
  float: left;
  margin-left: 6px;
  margin-bottom: 18px;
}

#inputBox {
  text-align: center;
}

#inputBox textarea {
  width: 340px;
  height: 418px;
  border: solid 3px #ffcb66;
  border-radius: 20px;
  font-size: larger;

  background-image: url("../image/santa hugging deer 1.svg");
  background-repeat: no-repeat;
  background-position: bottom 15px right 15px;
  outline: none;
  resize: none;

  padding: 18px;
}

#inputBox textarea::placeholder {
  opacity: 0.5;
}

.writeFromLogo {
  /*from 로고*/
  text-align: right;
  margin-right: 5px;
  margin-top: 10px;
  height: 37px;
}

.write-btn {
  text-align: center;
}

.button-write {
  margin-top: 50px;
  width: 344px;
  height: 47px;

  font-size: auto;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: #ffd686;
  color: #ffb526;

  cursor: pointer;
  /* box-shadow: 5px 3px 3px rgb(82, 82, 82); */
}
/* .button-write:hover {
  background-color: #4d2e27e8;
} */
.button-write:focus,
.button:focus {
  outline: none;
}

footer {
  color: #4d2e27;

  margin-top: 170px;
}

footer p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

footer span {
  display: block;
}

/* 아래는 Dear 나 From 옆 텍스트 css */
.writeFromLogo span,
.writeLogo span {
  font-size: 22px;
  font-weight: 900;
  /* width: 20px; */

  /* position: absolute;
  bottom: 0; */
}
