@import url("../write/write.css");
/* 나머진 write.css 에서 끌어오고 이미지 바뀐 부분이나 추가된 부분의 css 만 추가로 작성했어요 */

.contentWrap {
  height: 1258px;
  letter-spacing: 5%;
  line-height: 25px;
}

#writeSantaLetter {
  text-align: center;
}

#letterFromSanta textarea,
#myLetter textarea {
  /*편지 받아오는곳*/
  width: 340px;
  height: 121px;
  padding: 20px;

  background-color: #ffcb66;
  color: #0a0a0a;
  border-radius: 20px;
  font-size: larger;

  border: none;
  outline: none;
  resize: none;
}

#writeBorder {
  /*중간선*/
  border-top: solid 1.5px #ebc479;
  width: 340px;
  height: 50px;
  margin-top: 40px;
}

#buttonCheckpage {
  background-color: #4d2e27;
  color: #fafafa;
}

#ItsmeImg {
  margin-top: 60px;
}
