@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* #writeBox {
        background-color: #ffe2a9;
      } */

#findpageBox {
  margin-top: 70px;
}

.contentWrap {
  background-color: #ffe2a9;
  width: 390px;
  height: 844px;
  margin: 0 auto;
  /* text-align: center; */
  padding: 20px;

  font-family: "NEXON Lv1 Gothic OTF";
}

#FindpageLogo {
  text-align: center;
  margin-top: 95px;
}

#fwInformContent {
  text-align: center;
  margin-top: 50px;
}

#fwInformContent p {
  font-weight: 900;
  margin-top: 5px;
}

#fwInformBox textarea {
  width: 340px;
  height: 81px;
  padding: 20px;

  background-color: #ffcb66;
  color: #0a0a0a;
  border-radius: 20px;
  font-size: larger;

  border: none;
  outline: none;
  resize: none;

  text-align: center;
}

.write-btn {
  text-align: center;
}

.button-check {
  margin-top: 55px;
  width: 344px;
  height: 47px;

  font-size: auto;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background-color: #4d2e27;
  color: #fafafa;

  cursor: pointer;
  /* box-shadow: 5px 3px 3px rgb(82, 82, 82); */
}
/* .button-write:hover {
        background-color: #4d2e27e8;
      } */
.button-write:focus,
.button:focus {
  outline: none;
}
